@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
   
    font-family: "Poppins", sans-serif;
}

body {
    background: url(../Imagem/cyber-3400789.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
  
}

#login {
    box-shadow: rgba(94, 2, 214, 0.349) 0px 20px 30px -10px;
    position: relative;
    right: 60px;
}

from input{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 25px; 
}
button{
    padding: 10px 40px;
    position: relative;
    margin-left: 70px;
    background-color: rgba(240, 240, 240, 0%);
    border: 2PX solid #000000;
    color: rgb(180, 178, 178);
    top: -15px;
}
button:hover{
    transform: scale(1.2);
    cursor: pointer;
}
h2{
     font-size: 40px;
     text-align: center;
}

.fa-user {
  color: rgb(237, 237, 245);
  font-size: 25px;
  margin-right: 10px;
  position:relative;
  top: -32px;
  left: 250px;
}
.fa-lock{
    position:relative;
  top: -30px;
  left: 250px;
   color: rgb(237, 237, 245);
}

input::placeholder{
    color: rgb(134, 131, 131);
}
input{
    width: 78%;
    height: 90%;
    background-color:transparent;
    border: none;
    outline: auto;
    font-size: 16px;
    color: rgb(255, 255, 255); 
    padding: 10px 10px 10px 35px; 
    border-radius: 5px;
    margin-left: 10px;
}
a{
    color: rgb(239, 5, 247);
    text-decoration: none;
}
input#Confirmar{
    border: 0;
    height: 5%;
    width: 4%;
    
}
nav a{
    color: rgb(245, 245, 245);
   
}
nav a{
    position: relative;
    top: -300px;
    left: 700px;
    color: #aa0579f6; 
}